# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\laravel_projects\bloodbank\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
